<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxu.xyp.mapper.BannerMapper">

    <resultMap id="BaseResultMap" type="com.sxu.xyp.model.domain.index.Banner">
            <id property="banner_id" column="banner_id" jdbcType="BIGINT"/>
            <result property="banner_url" column="banner_url" jdbcType="VARCHAR"/>
            <result property="is_show" column="is_show" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        banner_id,banner_url,is_show
    </sql>
</mapper>
