<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxu.xyp.mapper.FavortiesMapper">

    <resultMap id="BaseResultMap" type="com.sxu.xyp.model.domain.Favorties">
            <id property="user_id" column="user_id" jdbcType="BIGINT"/>
            <result property="article_id" column="article_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,article_id
    </sql>
</mapper>
